<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <!-- Framework CSS --> 
    <link rel="stylesheet" href="/_static/blueprint/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="/_static/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]><link rel="stylesheet" href="/_stastic/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
 
    <!-- Import fancy-type plugin for the sample page. --> 
    <link rel="stylesheet" href="/_static/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection"> 
       
        <title>{{; page.title }}</title>
    </head>
    <body>
        <div class="container">  
            {{ content }}
        </div>
    </body>
</html>
