<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<!-- Framework CSS -->
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/menu.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" ><![endif]-->
<!-- Import fancy-type plugin for the sample page. -->
<link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox-1.3.4.css" media="screen">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title>{{; page.title }}</title>
</head> 
 
<body> 
	<div class="container"> 
		<header id="header">
	 		<div id="drapeaux">
				<a href="/"><img src="/images/drapeau-fr.gif" border="0"/></a>
				<a href="/en/"><img src="/images/drapeau-gb.gif" border="0"/></a>
				<a href="/construction.html"><img src="/images/drapeau-de.gif" border="0"/></a>
				<a href="/construction.html"><img src="/images/drapeau-it.gif" border="0"/></a>
				<a href="/construction.html"><img src="/images/drapeau-es.gif" border="0"/></a>
			</div>
			<h1>
				<a href="/">La Maison du jardinier</a>
			</h1>
			<nav>
			    <ul id="navigation">
			    	<li> 
			        	<a href="/" class="home">Acceuil</a> 
			        </li> 
			        <li> 
			        	<a href="/gite.html">Le gîte</a> 
			            <div class="sub" style="width:450px"> 
			            	<ul> 
			                	<li><h2><a href="#">Rez de chaussée</a></h2></li> 
			                	<li><a href="#">Entrée</a></li> 
			                    <li><a href="#">Salon</a></li> 
			                    <li><a href="#">Bureau</a></li> 
			                    <li><a href="#">Cuisine</a></li> 
			                    <li><a href="#">Buanderie</a></li> 
			                </ul> 
			                <ul> 
			                	<li><h2><a href="#">1er étage</a></h2></li> 
			                	<li><a href="#">Chambre 1</a></li> 
			                	<li><a href="#">Chambre 2</a></li> 
			                	<li><a href="#">Chambre 3</a></li> 
			                	<li><a href="#">Chambre 4</a></li> 
			                	<li><a href="#">Salle de bain</a></li> 
			                </ul> 
			                <ul> 
			                	<li><h2><a href="#">Extérieur</a></h2></li> 
			                	<li><a href="#">Piscine</a></li> 
			                    <li><a href="#">Cabane</a></li> 
			                    <li><a href="#">Parc</a></li> 
			                </ul> 
			            </div> 
			        </li> 
			        <li>
			        	<a href="/tarifs.html">Tarifs</a>
			            <div class="sub" style="width:500px"> 
							<table class="tarifs" cellpadding="1" cellspacing="1" width="450">
							        <thead>
									<tr> 
							        		<th>&nbsp;</th>
										<td>Saison</td>
										<td>Semaine</td>
										<td>Week-end</td>
									</tr>
							        </thead>
							        <tbody>
									<tr class="haute-saison">
										<th>&nbsp;</th>
										<td>Haute Saison</td>
										<td>1500 €</td>
										<td>400 €</td>
									</tr>
									<tr class="pleine-saison">
										<th>&nbsp;</th>
										<td>Pleine saison</td>
										<td>1100 €</td>
										<td>300 €</td>
									</tr>
							        	<tr class="moyenne-saison">
										<th>&nbsp;</th>
										<td>Moyenne Saison</td>
										<td>900 €</td>
										<td>200 €</td>
									</tr>
									<tr class="basse-saison">
										<th>&nbsp;</th>
										<td>Basse Saison</td>
										<td>700 €</td>
										<td>200 €</td>
									</tr>
								</tbody>
							</table>
			        </li> 
			        <li> 
			        	<a href="/construction.html">Galerie</a> 
			        </li> 
			        <li> 
			        	<a href="/acces.html">Acces</a> 
			        </li> 
			        <li> 
			        	<a href="/tourisme.html">Tourisme</a> 
			        </li> 
			        <li> 
			        	<a href="/blog.html">Blog</a>
			      		<div class="sub" style="width:500px;left:-291px;"> 
			            	<div class="row"> 
			                    <ul style="width: 225px;">
									{% for post in site.posts %}
									<li><a href="{{ post.url }}">{{ post.date | date_to_string }} {{ post.title }}</a></li>
									{% endfor %}
			                    </ul> 
			                </div> 
			            </div>  
			        </li> 
			        <li> 
			        	<a href="/contact.html">Contact</a> 
			        </li> 
			    </ul>
			</nav>
		</header>
		<section id="main" class="span-18">
			{{ content }}
		</section>
		<section id="sidebar" class="span-6 last"> 
			<h1>~ La maison du jardinier ~</h1>
			<p>
				Jean-Manuel Ramière de Fortanier<br /> 11400 Mireval-Lauragais<br /> Région: Languedoc-Roussillon<br /> Département: Aude<br /> <br /> Tel: XX.XX.XX.XX <br />
				International: 0033 6 XX XX XX
			</p>
			<h1>~ Gite de France ~</h1>
			<p>
				La maison du jardinier est référençée sur <a href="http://www.gites-de-france.com" alt="Gite de France">Gîtes de France</a><br>
			</p>
			<center>
				<img src="/images/gite-de-france.png">
			</center>
			<p></p>
			<h1>~ Cadeau de Bienvenue ~</h1>
			<p>
				<a href="/photos/panier_garni.jpg" style="float: left; padding-right: 5px" class="screen" title="Le Panier Garni" rel="lightbox"><img src="/photos/panier_garni_petit.jpg"
					alt="Panier Garni">
				</a> Pour votre arrivée, un panier garni avec les produits de la région vous sera offert par le propriétaire.
			</p>
			<h1>~ Visite 3D ~</h1>
			<p>
				<a href="/3d.html" alt="Visite de la maison du jardinier en 3D">Visitez la maison du jardinier en 3D</a>
			</p>
			<h1>~ Partenaire ~</h1>
			<p>
				<a href="/photos/bouteille.jpg" style="float: left; padding-right: 5px" class="screen" title="Vin château-bas " rel="lightbox"><img src="/photos/bouteille_petit.jpg"
					alt="Vin château-bas">
				</a> Venez déguster et partager la culture et la qualité du vin des frères d'Albenas
			</p>
		</section>
		<footer id="footer" class="span-24 last">
			<a href="/">Accueil</a> | <a href="/gite.html">Le G&icirc;te</a> | <a href="/tarifs.html">Tarifs</a> | <a href="/galerie.html">Galerie</a> | <a href="/acces.html">Plan
				d'acc&egrave;s</a> | <a href="/contact.html">Contact</a> <br /> &copy; 2011 - Le Maison du Jardinier
		</footer>
	</div>
	<script type="text/javascript" src="/js/jquery-1.4.3.min.js"></script>
	<script type="text/javascript" src="/js/fancybox/jquery.easing-1.3.pack.js"></script>
	<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript"> 
	$(document).ready(function() {
		function menuOver(){
			$(this).find(".sub").stop().fadeTo('fast', 2).show();
		}
		
		function menuOut(){ 
//			$(this).find(".sub").stop().fadeTo('slow', 2).hide();
		}
	 
		$("ul#navigation li .sub").css({'opacity':'0'});
		$("ul#navigation li").hover(menuOver, menuOut);
		$("a.screen").fancybox({
			'zoomSpeedIn' : 300,
			'zoomSpeedOut' : 300,
			'overlayShow' : true,
			'overlayOpacity' : 0.7
		});
	});
	</script> 
</body> 
</html>