<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr-FR">
<head>
	{% include head.html %}
	<script type="text/javascript">
		var semaineReservee = "Cette semaine est déjà réservée";
		var semaine = "Semaine";
	</script>
</head>
<body>
<div  class="container">
	<header id="header">
		<nav>
	 		<div id="drapeaux">
				<a href="/"><img src="/images/drapeau-fr.gif"/></a>
				<a href="/en/"><img src="/images/drapeau-gb.gif"/></a>
				<a href="/construction.html"><img src="/images/drapeau-de.gif"/></a>
				<a href="/construction.html"><img src="/images/drapeau-it.gif"/></a>
				<a href="/construction.html"><img src="/images/drapeau-es.gif"/></a>
			</div>
			<h1>
				<a href="/">La Maison du jardinier</a>
			</h1>
			<ul id="menu">
				<li>
					<a href="/" class="home">Acceuil</a>
				</li>
				<li>
					<a href="/gite/le-gite.html">Le gîte</a>
					<div class="sub" style="width:450px">
						<div class="row">
							<ul>
								<li><h2><a href="/gite/rez-de-chaussee.html">Rez de chaussée</a></h2></li>
								<li><a href="/gite/rez-de-chaussee.html">Entrée</a></li>
								<li><a href="/gite/rez-de-chaussee.html">Salon</a></li>
								<li><a href="/gite/rez-de-chaussee.html">Bureau</a></li>
								<li><a href="/gite/rez-de-chaussee.html">Cuisine</a></li>
								<li><a href="/gite/rez-de-chaussee.html">Buanderie</a></li>
							</ul>
							<ul>
								<li><h2><a href="/gite/premier-etage.html">1er étage</a></h2></li>
								<li><a href="/gite/premier-etage.html">Chambre 1</a></li>
								<li><a href="/gite/premier-etage.html">Chambre 2</a></li>
								<li><a href="/gite/premier-etage.html">Chambre 3</a></li>
								<li><a href="/gite/premier-etage.html">Chambre 4</a></li>
								<li><a href="/gite/premier-etage.html">Salle de bain</a></li>
							</ul>
							<ul>
								<li><h2><a href="/gite/exterieur.html">Extérieur</a></h2></li>
								<li><a href="/gite/exterieur.html">Piscine</a></li>
								<li><a href="/gite/exterieur.html">Cabane</a></li>
								<li><a href="/gite/exterieur.html">Terrasse</a></li>
								<li><a href="/gite/exterieur.html">Parc</a></li>
							</ul>
						</div>
						<div class="row">
							<ul style="width:100%;">
								<li><h2><a href="/maisons/les-maisons.html">Vous venez à plusieurs familles ?</a></h2></li>
								<li><h2><a href="/maisons/les-maisons.html">Des maisons à proximité sont disponibles !</a></h2></li>
								<li><a href="/maisons/la-maison-de-francois.html">La maison de François (100mètres)</a></li>
								<li><a href="/maisons/la-ferme-de-la-bourdette.html">La bourdette (150mètres)</a></li>
								<li><a href="/maisons/la-maison-de-maitre-de-crabo.html">Crabo Négado (3km)</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="/tarifs.html">Tarifs</a>
					<div class="sub" style="width:500px">
						<div class="row">
							<table class="tarifs">
								<thead>
									<tr>
										<th>&nbsp;</th>
										<td>Saison</td>
										<td>Semaine</td>
										<td>Week-end</td>
									</tr>
								</thead>
								<tbody>
									<tr class="haute-saison">
										<th>&nbsp;</th>
										<td>Haute Saison</td>
										<td>1500 €</td>
										<td>400 €</td>
									</tr>
									<tr class="pleine-saison">
										<th>&nbsp;</th>
										<td>Pleine saison</td>
										<td>1100 €</td>
										<td>300 €</td>
									</tr>
										<tr class="moyenne-saison">
										<th>&nbsp;</th>
										<td>Moyenne Saison</td>
										<td>900 €</td>
										<td>200 €</td>
									</tr>
									<tr class="basse-saison">
										<th>&nbsp;</th>
										<td>Basse Saison</td>
										<td>700 €</td>
										<td>200 €</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row" style="text-align:center;"">
							<ul>
								<li><h2><a href="/tarifs.html#semaine">Semaines</a></h2></li>
							</ul>
							<ul>
								<li><h2><a href="/tarifs.html#dispo">Disponibilités</a></h2></li>
							</ul>
							<ul>
								<li><h2><a href="/reservation.html">Réserver</a></h2></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="/tourisme/les-activites-touristiques.html">Tourisme</a>
					<div class="sub" style="width:450px;">
						<div class="row">
							<ul>
								<li><h2><a href="/tourisme/pour-les-amateurs-de-culture.html">Culture</a></h2></li>
								<li><a href="/tourisme/pour-les-amateurs-de-culture.html">Cité de Carcassonne</a></li>
								<li><a href="/tourisme/pour-les-amateurs-de-culture.html">Les châteaux cathares</a></li>
								<li><a href="/tourisme/pour-les-amateurs-de-culture.html">Toulouse</a></li>
							</ul>
							<ul>
								<li><h2><a href="/tourisme/pour-les-amateurs-d-histoire.html">Histoire</a></h2></li>
								<li><a href="/tourisme/pour-les-amateurs-d-histoire.html">Sorèze</a></li>
								<li><a href="/tourisme/pour-les-amateurs-d-histoire.html">Abbayes</a></li>
								<li><a href="/tourisme/pour-les-amateurs-d-histoire.html">Grottes</a></li>
							</ul>
							<ul>
								<li><h2><a href="/tourisme/pour-les-amateurs-du-gout.html">Culinaire</a></h2></li>
								<li><a href="/tourisme/pour-les-amateurs-du-gout.html">Castelnaudary</a></li>
								<li><a href="/tourisme/pour-les-amateurs-du-gout.html">Vins du sud</a></li>
								<li><a href="/tourisme/pour-les-amateurs-du-gout.html">Terroire</a></li>
							</ul>
						</div>
						<div class="row">
							<ul>
								<li><h2><a href="/tourisme/pour-les-amoureux-de-la-nature.html">Nature</a></h2></li>
								<li><a href="/tourisme/pour-les-amoureux-de-la-nature.html">Le Canal du Midi</a></li>
								<li><a href="/tourisme/pour-les-amoureux-de-la-nature.html">Saint-Ferréol</a></li>
								<li><a href="/tourisme/pour-les-amoureux-de-la-nature.html">Lac du lampy</a></li>
							</ul>
							<ul>
								<li><h2><a href="/tourisme/pour-les-enfants.html">Enfants</a></h2></li>
								<li><a href="/tourisme/pour-les-enfants.html">Narbonne Plage</a></li>
								<li><a href="/tourisme/pour-les-enfants.html">Cité de l'espace</a></li>
								<li><a href="/tourisme/pour-les-enfants.html">Aqualand</a></li>
							</ul>
							<ul>
								<li><h2><a href="/tourisme/pour-les-sportifs.html">Sport</a></h2></li>
								<li><a href="/tourisme/pour-les-sportifs.html">Sports nautiques</a></li>
								<li><a href="/tourisme/pour-les-sportifs.html">Aqualand</a></li>
								<li><a href="/tourisme/pour-les-sportifs.html">Tennis</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="/blog.html">Blog</a>
			  		<div class="sub" style="width:250px;">
						<div class="row">
							<ul style="width: 225px;">
								<li><h2><a href="/blog.html#semaine">Nos billets</a></h2></li>
								{% for post in site.posts limit:5 %}
								<li><a href="{{ post.url }}">{{ post.title }} {{ post.date | date_to_string }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div> 
				</li>
				<li>
					<a href="/acces.html">Accès</a>
					<div class="sub" style="width:300px;">
						<div class="row">
							<ul>
								<li><h2><a href="/acces.html">En avion</a></h2></li>
								<li><h2><a href="/acces.html">En voiture</a></h2></li>
							</ul>
							<ul>
								<li><h2><a href="/acces.html">En train</a></h2></li>
								<li><h2><a href="/acces.html">Sur un poney ?</a></h2></li>
							</ul>
						</div>
					 </div>
				</li>
				<li>
					<a href="/contact.html">Contact</a>
					<div class="sub" style="width:300px;">
						<div class="row">
							<ul>
								<li><h2><a href="#">Par email</a></h2></li>
								<li><a href="mailto:xxx@domain.com">xxx@domain.com</a></li>
							</ul>
							<ul>
								<li><h2><a href="/contact.html">Au téléphone</a></h2></li>
								<li><a href="/contact.html">xx.xx.xx.xx</a></li>
							</ul>
						</div>
						<div class="row">
							<ul style="width:300px">
								<li><h2><a href="/contact.html">Via notre formulaire en ligne</a></h2></li>
							</ul>
						</div>
						<div class="row">
							<ul style="width:300px">
								<li><h2><a href="/reservation.html">Réservez dès à présent</a></h2></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</header>
	<section id="main" class="span-18">
		{{ content }}
		{% if page.comments %}
		<aside>
			<div id="disqus_thread"></div>
		</aside>
		{% endif %}
	</section>
	<section id="sidebar" class="span-6 last">
		<h1>~ La maison du jardinier ~</h1>
		<p>
			Jean-Manuel Ramière de Fortanier<br />
			11400 Mireval-Lauragais<br />
			Région: Languedoc-Roussillon<br />
			Département: Aude<br />
			<br />
			Tel: XX.XX.XX.XX <br />
			International: 0033 6 XX XX XX
		</p>
		<h1>~ Gite de France ~</h1>
		<p>
			La maison du jardinier est référençée sur <a href="http://www.gites-de-france.com" alt="Gite de France">Gîtes de France</a>
		</p>
		<p><center><a href="http://www.gites-de-france.com/" target="_none"><img src="/images/gite-de-france.png"/></a></center></p>
		<h1>~ Cadeau de Bienvenue ~</h1>
		<p>
			<a href="/photos/panier_garni.jpg" style="float: left; padding-right: 5px" class="screen" title="Le Panier Garni" rel="lightbox">
			<img src="/photos/panier_garni_petit.jpg" alt="Panier Garni">
			</a>Pour votre arrivée, un panier garni avec les produits de la région vous sera offert par le propriétaire.
		</p>
		<h1>~ Visite 3D ~</h1>
		<p>
			<a href="/3d.html" alt="Visite de la maison du jardinier en 3D">Visitez la maison du jardinier en 3D</a>
		</p>
		<h1>~ Partenaire ~</h1>
		<p>
			<a href="/photos/bouteille.jpg" style="float: left; padding-right: 5px" class="screen" title="Vin château-bas " rel="lightbox">
			<img src="/photos/bouteille_petit.jpg" alt="Vin château-bas">
			</a>Venez déguster et partager la culture et la qualité du vin des frères d'Albenas
		</p>
	</section>
	<footer id="footer" class="span-24 last">
		<a href="/conditions.html">Conditions</a>|
		 &copy; 2011 - Le Maison du Jardinier
	</footer>
</div>
{% include javascript.html %}
</body>
</html>
